body {
  padding: 0; /* reset default browser paddings */
  margin: 0; /* reset default browser margins */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
